<!-- templates/index.html -->

{% extends 'layout.html' %} {% block content %}

<div class="jumbotron mt-4 mb-4">
  <h1 class="display-4 font-weight-normal">Library App</h1>
  <p class="lead">
    View and manage borrow transactions, books, authors, and library users
  </p>
</div>

<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Books</h5>
      <p class="card-text">Browse and check out books</p>
      <a href="{{ url_for('show_books') }}" class="btn btn-primary"
        >View Books</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Users</h5>
      <p class="card-text">Manage registered library users</p>
      <a href="{{ url_for('show_users') }}" class="btn btn-primary"
        >View Users</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Authors</h5>
      <p class="card-text">Manage book authors</p>
      <a href="{{ url_for('show_authors') }}" class="btn btn-primary"
        >View Authors</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Borrows</h5>
      <p class="card-text">Manage borrow transactions</p>
      <a href="{{ url_for('show_borrows') }}" class="btn btn-primary"
        >View Borrows</a
      >
    </div>
  </div>
</div>

<div class="card-deck mt-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Create the Database</h5>
      <p class="card-text">
        Click the button to create the database tables and insert some data
      </p>
      <a href="{{ url_for('create_tables') }}" class="btn btn-secondary"
        >Create the Tables</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">SQL query page</h5>
      <p class="card-text">
        Execute a custom SQL query to the library application
      </p>
      <a href="{{ url_for('sql_query') }}" class="btn btn-secondary"
        >Go to custom SQL query page</a
      >
    </div>
  </div>
</div>

{% endblock %}
